.balao {
    background-color: #0000FF;
    display: inline-block;
    color: #FFF;
    padding: 20px;
    border-radius: 20px;
}
.balao::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 20px;
    border: 20px solid;
    border-color: #0000FF transparent transparent transparent;
}