* {
    box-sizing: border-box;
    margin: 0px;
}
a {
    display: block;
}

a[href*="pop-arte"] {
    background-color: #FF0000;
}

a[href^="http:"] {
    background-color: #00FF00;
}

a[href$=".html"] {
    background-color: #0000FF;
}