body {
    text-align: center;
    padding-top: 50px;
}

a {
    background-color: #3498db;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    box-shadow: 4px 4px 10px #CCC;
    text-decoration: none;
    font-size: 35px;
    padding: 15px 25px;
    color: #FFF;
    font-family: Sans-serif;
}

a:hover {
    background-color: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}