#titulo {
    color: green;
    font-weight: normal;
}

.texto {
    color: red;
}

img {
    width: 200px;
}

.texto2, .lista {
    color: orangered;
    font-weight: bold;
}

ul li {
    color: pink;
}