body {
    margin: 0;
}

.exemplo {
    border: 2px solid #00FF00;
    /*padding: 10px;
    padding-left: 10px;
    padding-top: 50px;*/
    padding: 11px 21px 12px 22px;
    margin: 10px;
}

.exemplo2 {
    background-color: #000;
    width: 100%;
    height: 100px;
}

img {
    width: 200px;
    max-width: 450px;
    min-width: 150px;
}