body {
    display: flex;
}

div {
    height: 200px;
    width: 200px;
    border: 2px solid #000;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}