* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

input {
    margin-bottom: 8px;
}

fieldset {
    background-color: #EEE;
    margin-bottom: 20px;
    border: 2px solid #FF0000;

}

legend {
    background-color: #FF0000;
    color: #FFF;
    padding: 5px;
}