* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

p {
    color: #0000FF;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
}

table {
    width: 400px;
}

table thead {
    background-color: #CCC;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: #EEE;
}

tbody td {
    border-bottom: 1px solid #CCC;
}

tbody tr:nth-child(even) {
    background-color: #EEE;
}

th {
    font-weight: normal;
}